<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content padding>
    
    <div style="color: #d4d4d4; font-family: Consolas, 'Courier New', monospace; font-weight: normal; font-size: 14px; line-height: 19px; white-space: pre; word-wrap: break-word; white-space: normal;">
      <h1><span style="color: #000000;"><strong>Project Title:</strong>I LIKE THIS PLACE</span></h1>
      <h1><span style="color: #000000;"><strong>Class Name:</strong>SWDV 665: ADV TOPICS: SOFTWARE DEVELOPMENT 1W 19/SU2</span></h1>
      <h1><span style="color: #000000;"><strong>Professor Name:</strong>Professor Siddique Hameed</span></h1>
      <h1><span style="color: #000000;"><strong>Student Name:</strong> Karl Tomecek</span></h1>
      <h1><span style="color: #000000;"><strong>Student ID:</strong> 0904536</span></h1>
    </div>
  </ion-content>
